* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.homeContainer {
    background-color: #f0f0f0;
}

.mainSection {
}

.leftSection {
}

.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.rightSection {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
