/* Defult tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Apply a box-sizing border-box for easier sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ensure images are responsive by default */
img {
  max-width: 100%;
  height: auto;
}

/* Set basic default font and color */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}
